POSTMARK_API_KEY=op://dev/postmark/credential

GOOGLE_ID_CLIENT=op://dev/social-auth-base/google_client/id
GOOGLE_KEY_CLIENT=op://dev/social-auth-base/google_client/secret

GITHUB_ID_CLIENT=op://dev/social-auth-base/github_client/id
GITHUB_KEY_CLIENT=op://dev/social-auth-base/github_client/secret
